---
import { urlifyToken } from '@/js/util.js'

interface Props {
  categories: string[];
}

const { categories } = Astro.props;
---

<div>
	<nav>
		<h2>Categories</h2>
		<ul>
		{categories?.map((category: String, idx: Number) =>
			<li><a href={`/category/${urlifyToken(category)}/`} rel="nofollow category">{category}</a></li>
		)}
		</ul>
	</nav>
</div>
