---
/**
 * Footer
 * Site footer layout that composes navigation and metadata sections.
 */
import { sortedPosts } from '@/js/util.js'
import { getCollection } from 'astro:content';
import FooterLinks from '@/components/FooterLinks.astro';
import FooterCategories from '@/components/FooterCategories.astro';
import FooterPages from '@/components/FooterPages.astro';
import FooterSeries from '@/components/FooterSeries.astro';
import FooterArchives from '@/components/FooterArchives.astro';
import FooterCopyright from '@/components/FooterCopyright.astro';

const posts = sortedPosts(await getCollection('posts'));
---

<footer id="site-footer">
	<div>
		<FooterLinks />
	</div>
	<div>
		<FooterCategories posts={posts} />
	</div>
	<div>
		<FooterPages />
		<FooterSeries posts={posts} />
	</div>
	<div>
		<FooterArchives posts={posts} />
	</div>
</footer>

<FooterCopyright />
