---
// Copyright information section for the footer
const today = new Date();
---

<div id="copyright">
	<small itemprop="copyrightNotice">Copyright © {today.getFullYear()} Michaël Hompus.  All rights reserved.</small>
	<span itemprop="author copyrightHolder" itemscope itemtype="http://schema.org/Person" id="author">
		<meta itemprop="name" content="Michaël Hompus">
		<meta itemprop="sameAs" content="https://www.linkedin.com/in/mhompus">
		<meta itemprop="sameAs" content="https://bsky.app/profile/energy164.online">
	</span>
	<div class="attrib">
		Design based on the <a href="http://thethemefoundry.com/paperpunch/" target="_blank" rel="nofollow external noopener">Paperpunch Theme</a> by <a href="http://thethemefoundry.com/" target="_blank" rel="nofollow external noopener">The Theme Foundry</a>
	</div>
</div>
