---
// External links section for the footer
---

<nav>
	<h2>Links</h2>
	<ul>
		<li><a href="http://www.expiscornovus.com/" rel="noopener met co-worker colleague" title="Expiscornovus" target="_blank">Dennis Goedegebuure</a></li>
		<li><a href="https://maarten.mulders.it/post/" rel="noopener met colleague" target="_blank">Maarten Mulders</a></li>
		<li><a href="https://marcofolio.net/" rel="noopener met colleague" target="_blank">Marco Kuiper</a></li>
		<li><a href="https://techsps.wordpress.com/" rel="noopener met co-worker colleague" title="Something Technical about SharePoint" target="_blank">Mark Klifman</a></li>
		<li><a href="https://www.powerplatformunicorn.com/" rel="noopener met co-worker colleague">Rebekka Aalbers</a></li>
		<li><a href="http://www.sharepointblogs.be/blogs/vandest" rel="noopener met" target="_blank">Steven Van de Craen</a></li>
	</ul>
</nav>
