---
/**
 * FooterLinks
 * External/blogroll links shown in the footer.
 */
---

<nav>
  <h2>Links</h2>
  <ul>
    <li><a href="https://danielstegeman.github.io/blog/" rel="noopener co-worker colleague" target="_blank">Daniël Stegeman</a></li>
    <li><a href="https://www.expiscornovus.com/" rel="noopener met co-worker colleague" title="Expiscornovus" target="_blank">Dennis Goedegebuure</a></li>
    <li><a href="https://hanno.codes/blog/" rel="noopener met co-worker colleague" target="_blank">Hanno Embregts</a></li>
    <li><a href="https://jarnevanaerde.be/posts/" rel="noopener met co-worker colleague" target="_blank">Jarne Van Aerde</a></li>
    <li><a href="https://machinethoughts.substack.com/" rel="noopener met co-worker colleague" target="_blank">Jurre Brandsen</a></li>
    <li><a href="https://maarten.mulders.it/post/" rel="noopener met colleague" target="_blank">Maarten Mulders</a></li>
    <li><a href="https://marcofolio.net/" rel="noopener met colleague" target="_blank">Marco Kuiper</a></li>
    <li><a href="https://techsps.wordpress.com/" rel="noopener met co-worker colleague" title="Something Technical about SharePoint" target="_blank">Mark Klifman</a></li>
    <li><a href="https://ronaldbosma.github.io/blog/" rel="noopener met co-worker colleague" target="_blank">Ronald Bosma</a></li>
    <li><a href="https://blognet.tech/" rel="noopener met co-worker colleague" target="_blank">Tom van den Berg</a></li>
  </ul>
</nav>
