---
import { SITE_TITLE } from "@/config";
import MainMenu from '@/components/MainMenu.astro';

const { mainEntry = false, currentCategories = [] } = Astro.props;
---

{
  mainEntry && (
    <header id="header">
      <div>
        <div id="title" itemprop="name">
          <a href="/" itemprop="url">
            {SITE_TITLE}
          </a>
        </div>
      </div>
      <div id="description">
        <q itemprop="alternativeHeadline">Because I like to share knowledge</q>
      </div>
    </header>
  )
}
{
  !mainEntry && (
    <header
      id="header"
      itemprop="isPartOf"
      itemscope
      itemtype="http://schema.org/Blog"
    >
      <div>
        <div id="title" itemprop="name">
          <a href="/" itemprop="url">
            {SITE_TITLE}
          </a>
        </div>
      </div>
      <div id="description">
        <q itemprop="alternativeHeadline">Because I like to share knowledge</q>
      </div>
    </header>
  )
}

<MainMenu  currentCategories={currentCategories} />
