---
import { urlifyToken } from "@/js/util.js";
import moment from "moment";

const { categories, date, updated } = Astro.props;

const sortedCategories = Array
  .from(new Set(categories as string[]))
  .sort((a, b) => a.localeCompare(b));

const lastUpdated = typeof updated !== "undefined" ? updated : date;
const lastUpdatedMoment = moment(lastUpdated);
---

<footer class="post-footer">
  <div class="category">
    {
      sortedCategories.length > 0 && (
        <>
          Filed under
          {sortedCategories.map((category, idx) => (
            <>
              <a href={`/category/${urlifyToken(category)}`} rel="category">
                {category}
              </a>
              {idx < categories.length - 1 ? ", " : null}
            </>
          ))}
        </>
      )
    }
    <div>
      Last update: <time datetime={lastUpdated} itemprop="dateModified">{lastUpdatedMoment.format("MMM D YYYY HH:mm")}</time>
    </div>
  </div>
</footer>
