---
import { getFuseInstance } from "@/utils/fuseCache";

import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

interface ProcessedPost {
  body: string;
  title: string;
  tags: string[];
  categories: string[];
  permalink: string;
  image: string | null;
}
interface RelatedPost extends ProcessedPost {
  image: string;
}

const { post } = Astro.props;
const { data } = post;

const fuse = await getFuseInstance();

let results: RelatedPost[] | null = null;

if (data.tags != null && data.categories != null) {
  const searchValue = `${data.tags.join(" ")} ${data.categories.join(" ")}`;

  results = fuse
    .search(searchValue, { limit: 4 })
    .filter((result) => result.item.permalink !== data.permalink)
    .slice(0, 3)
    .map((result) => ProcessThumbnail(result.item));
}

function ProcessThumbnail(post: ProcessedPost): RelatedPost {
  const { image, ...rest } = post;
  return {
    ...rest,
    image: image
      ? image.replace(/(\.jpg|\.png)/, "-185x185.webp")
      : "/default-thumbnail-185x185.webp",
  };
}
---

{
  results && results.length > 0 && (
    <div id="related-posts">
      <aside>
        <h2>Related Posts</h2>
        <ol>
          {results.map((result) => (
            <li>
              <a href={result.permalink} title={result.title}>
                <figure>
                  <img
                    src={result.image}
                    width="185"
                    height="185"
                    alt=""
                    role="presentation"
                    loading="lazy"
                    decoding="async"
                    data-image-component="true"
                  />
                  <figcaption>{result.title}</figcaption>
                </figure>
              </a>
            </li>
          ))}
        </ol>
      </aside>
    </div>
  )
}
