---
import SidebarImage from "@/components/SidebarImage.astro";
import TagCloud from "@/components/TagCloud.astro";
import RecentPosts from "@/components/RecentPosts.astro";
---

<section
  itemprop="hasPart"
  id="sidebar"
  itemscope
  itemtype="http://schema.org/WPSideBar"
>
  <h1>Other content</h1>

  <SidebarImage />

  <TagCloud />

  <RecentPosts />
</section>
