---
---

<aside id="sidebar-image">
  <a href="/about/">
    <img
      srcset="/michael-hompus-blog-4x.webp 4x, /michael-hompus-blog-2x.webp 2x, /michael-hompus-blog.webp 1x"
      src="/michael-hompus-blog.png"
      width="263"
      height="245"
      alt="Michaël Hompus"
      fetchpriority="high"
      loading="eager"
      decoding="async"
      data-image-component="true"
    />
  </a>
</aside>
