---
import { sortedPosts } from "@/js/util.js";
import { getCollection } from "astro:content";
import SidebarImage from "@/components/SidebarImage.astro";
import TagCloud from "@/components/TagCloud.astro";
import RecentPosts from "@/components/RecentPosts.astro";

const unsortedPosts = await getCollection("posts");
const posts = sortedPosts(unsortedPosts);
---

<section
  itemprop="hasPart"
  id="sidebar"
  itemscope
  itemtype="http://schema.org/WPSideBar"
>
  <h1>Other content</h1>

  <SidebarImage />

  <TagCloud unsortedPosts={unsortedPosts} />

  <RecentPosts posts={posts} />
</section>
