---
/**
 * Sidebar
 * Assembles sidebar modules: image, series list, tag cloud, and recent posts.
 */
import { sortedPosts } from "@/js/util.js";
import { getCollection } from "astro:content";
import SidebarImage from "@/components/SidebarImage.astro";
import TagCloud from "@/components/TagCloud.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import SeriesList from "@/components/SeriesList.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  currentPost?: CollectionEntry<"posts">;
}

const { currentPost } = Astro.props;

const unsortedPosts = await getCollection("posts");
const posts = sortedPosts(unsortedPosts);
---

<section
  itemprop="hasPart"
  id="sidebar"
  itemscope
  itemtype="http://schema.org/WPSideBar"
>
  <h1>Other content</h1>

  <SidebarImage />

  {currentPost && currentPost.data.series && (
    <SeriesList currentPost={currentPost} allPosts={unsortedPosts} />
  )}

  <TagCloud unsortedPosts={unsortedPosts} />

  <RecentPosts posts={posts} />
</section>
